body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("../img/p.jpg");
	background-repeat: repeat-x;
}

a {
	color: #00B7FF;
}

#app {
	text-align: center;
	background-color: white;
	border: black;
	border-radius: 10px;
}

.authBarUserContainer {
	background: white;
}